body {
    background: #000000;
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
}

.transferCircle {
    border-radius: 50%;
    position: absolute;
}

.bigTransferCircle {
    width: 14px;
    height: 14px;
}

.smallTransferCircle {
    width: 10px;
    height: 10px;
    margin-left: 2px;
    margin-top: 2px;
}

.red {
    background: #aa1111;
}

.blue {
    background: #20539e;
}

.green {
    background: #0f9330;
}

.orange {
    background: #bd8212;
}

.violet {
    background: #9258d5;
}

.white {
    background: #b1b1b1;
}

.black {
    background: #000000;
}

#header {
    font-family: "Sitka Small", serif;
    font-size: 30px;
    text-align: center;
    color: darkslategray;
}

.description {
    font-family: "Sitka Text", serif;
    font-size: 10px;
    position: absolute;
    margin-left: 30px;
}