{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Я ебашу в кашу</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <p id="header">Народная карта этих ваших ебеней питерских</p>
    <div class="circle" id='blue' style="left: {{ l0 }}%; top: {{ t0 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l1 }}%; top: {{ t1 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l2 }}%; top: {{ t2 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l3 }}%; top: {{ t3 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l4 }}%; top: {{ t4 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l5 }}%; top: {{ t5 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l6 }}%; top: {{ t6 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l7 }}%; top: {{ t7 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l8 }}%; top: {{ t8 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l9 }}%; top: {{ t9 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l10 }}%; top: {{ t10 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l11 }}%; top: {{ t11 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l12 }}%; top: {{ t12 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l13 }}%; top: {{ t13 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l14 }}%; top: {{ t14 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l15 }}%; top: {{ t15 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l16 }}%; top: {{ t16 }}%"></div>
    <div class="circle" id='blue' style="left: {{ l17 }}%; top: {{ t17 }}%"></div>

    <div class="circle" id='red' style="left: {{ l18 }}%; top: {{ t18 }}%"></div>
    <div class="circle" id='red' style="left: {{ l19 }}%; top: {{ t19 }}%"></div>
    <div class="circle" id='red' style="left: {{ l20 }}%; top: {{ t20 }}%"></div>
    <div class="circle" id='red' style="left: {{ l21 }}%; top: {{ t21 }}%"></div>
    <div class="circle" id='red' style="left: {{ l22 }}%; top: {{ t22 }}%"></div>
    <div class="circle" id='red' style="left: {{ l23 }}%; top: {{ t23 }}%"></div>
    <div class="circle" id='red' style="left: {{ l24 }}%; top: {{ t24 }}%"></div>
    <div class="circle" id='red' style="left: {{ l25 }}%; top: {{ t25 }}%"></div>
    <div class="circle" id='red' style="left: {{ l26 }}%; top: {{ t26 }}%"></div>
    <div class="circle" id='red' style="left: {{ l27 }}%; top: {{ t27 }}%"></div>
    <div class="circle" id='red' style="left: {{ l28 }}%; top: {{ t28 }}%"></div>
    <div class="circle" id='red' style="left: {{ l29 }}%; top: {{ t29 }}%"></div>

    <h1 class="description" style="left: {{ l0 }}%; top: {{ t0 }}%">Вариант Кудрово с метро и маршруткой до Икеи</h1>
    <h1 class="description" style="left: {{ l1 }}%; top: {{ t1 }}%">"Мухаббат 24 часа" чаще, чем разметка</h1>
    <h1 class="description" style="left: {{ l2 }}%; top: {{ t2 }}%">Лежбище тюленей</h1>
    <h1 class="description" style="left: {{ l3 }}%; top: {{ t3 }}%">Рынок с кучей хипстеров</h1>
    <h1 class="description" style="left: {{ l4 }}%; top: {{ t4 }}%"></h1>


</body>
</html>